.root{
	font-family: Open Sans, sans-serif;
}

*{
    box-sizing: border-box;
}

.app-wrap {
    padding: 20px;
}
.filter-wrap {
    margin-bottom: 20px;
    padding: 20px;
    background-color:#38ed85;
}
h2 {
    margin:0 0 20px;
    color: #fff;
}


.table {
    border-collapse: collapse;
}
.table th,
.table td {
    border: 1px solid #ccc;
    padding: 5px;
}
.table th {
    font-size: 14px;
}
.w-d-l span {
    display: inline-block;
    width: 20px;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    background-color: #000;
}
.win {
    color: #77f777;
}
.draw {
    color: yellow;
}
.lose {
    color: #ff2323;
}
.total span {
    display: inline-block;
    width: 20px;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    margin-right: 1px;
}
span.w {
    background-color: #5aca07;
}
span.d {
    background-color: #f4f71a;
}
span.l {
    background-color: #e63131;
}
